@import url('https://fonts.googleapis.com/css?family=Nixie+One');

html, body {
  background: #eeeeee;
  color: #2e3131;
  font-family: 'Nixie One', cursive;
}

.content-wrap {
  height: 60vh;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  .content {
    display: flex;
    justify-content: center;
    display: flex; align-items: center;
    width: 75vw;
    img {
      max-height: 60vh;
      max-width: 100%;
    }
  }
}

.btn {
  border: #2e3131 1px solid;
  background: #eeeeee;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 1.5em;
  outline: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn::-moz-focus-inner {
  border: 0;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  .nav {
      width: 50px;
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    .btn {
      border: none;
      text-align: center;
    }
  }
  .slot {
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}